<div class="container">
  <h2 class="titulo">Perfis de Vaga</h2>

  <div class="card">
    <div class="cabecalho">
      <div></div> <!-- espaço vazio para alinhar -->
      <a class="btn-adicionar" [routerLink]="['/home/perfil-vaga/novo']">➕ Incluir Perfil</a>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Requisitos</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let perfil of perfis">
          <td>{{ perfil.IdPerfilVaga }}</td>
          <td>{{ perfil.Descricao }}</td>
          <td>{{ perfil.Requisitos }}</td>
          <td>
            <button class="btn-editar" (click)="editarPerfil(perfil)">
              ✏️
            </button>
            <button class="btn-remover" (click)="removerPerfil(perfil.IdPerfilVaga)">
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
