<div class="modelo-validacao-container">
  <h1 class="modelo-validacao-title">
    {{ modoEdicao ? 'Modelo de Validação' : 'Novo Modelo de Validação' }}
  </h1>


  <!-- ID do Modelo -->
  <div class="form-group">
    <!-- ID do Modelo number -->
    <input id="idModeloValidacao" type="hidden" [(ngModel)]="ModeloValidacao.idModeloValidacao">

    <label for="modeloValidacao">ID Modelo</label>
    <input
      id="modeloValidacao"
      type="text"
      [disabled]="modoEdicao"
      [(ngModel)]="ModeloValidacao.ModeloValidacao"
      class="form-control">
  </div>

  <!-- Descrição -->
  <div class="form-group">
    <label for="Descricao">Descrição</label>
    <input
      id="Descricao"
      type="text"
      [(ngModel)]="ModeloValidacao.Descricao"
      class="form-control">
  </div>

  <!-- Prompt -->
  <div class="form-group">
    <label for="Prompt">Prompt</label>
    <textarea
      id="Prompt"
      rows="3"
      [(ngModel)]="ModeloValidacao.Prompt"
      class="form-control"></textarea>
  </div>

  <!-- Botões -->
  <div class="form-actions">
    <button class="btn btn-primary" (click)="salvar()">
      💾 Salvar
    </button>
    <button class="btn btn-secondary" (click)="voltar()">
      ↩️ Voltar
    </button>
  </div>
</div>
