<div class="form-container">
  <h2 class="form-title">Candidato x Vaga</h2>

  <form [formGroup]="form">
    <!-- Upload Transcrição -->
    <div class="form-group">
      <label class="file-upload-label">
        <input #fileInput type="file" accept=".txt" hidden (change)="onFileSelected($event, 'transcricaoArquivo')">
        <button type="button" class="file-upload-button" (click)="triggerFileInput('transcricaoArquivo')">
          📁 Incluir Transcrição
        </button>
      </label>
      <div *ngIf="form.get('transcricaoArquivo')?.value" class="file-upload-success">
        Arquivo carregado: {{ form.get('transcricaoArquivo')?.value?.name }}
      </div>
    </div>

    <!-- Upload Currículo -->
    <div class="form-group">
      <label class="file-upload-label">
        <input #fileCurriculo type="file" accept=".pdf" hidden (change)="onFileSelected($event, 'curriculoArquivo')">
        <button type="button" class="file-upload-button" (click)="triggerFileInput('curriculoArquivo')">
          📄 Incluir Currículo
        </button>
      </label>
      <div *ngIf="form.get('curriculoArquivo')?.value" class="file-upload-success">
        Arquivo carregado: {{ form.get('curriculoArquivo')?.value?.name }}
      </div>
    </div>

    <!-- Perfil -->
    <div class="form-group">
      <label for="perfilVaga">Selecionar o Perfil da Vaga:</label>
      <select id="perfilVaga" formControlName="perfilVaga" class="form-control">
        <option value="" disabled>Selecione um perfil</option>
        <option *ngFor="let perfil of vagaPerfis" [value]="perfil.descricao">
          {{ perfil.descricao }}
        </option>
      </select>
    </div>

    <!-- Modelo de Análise -->
    <div class="form-group">
      <label for="modeloAnalise">Modelo da Análise e Resultado:</label>
      <select id="modeloAnalise" formControlName="modeloAnalise" class="form-control">
        <option [ngValue]="null" disabled>Selecione um modelo</option>
        <option *ngFor="let modelo of analiseModelos" [ngValue]="modelo">
          {{ modelo.descricao }}
        </option>
      </select>
    </div>

    <!-- Salário -->
    <div class="form-group">
      <label for="salarioPedido">Salário Pretendido:</label>
      <input
        id="salarioPedido"
        type="text"
        formControlName="salarioPedido"
        class="form-control"
        placeholder="Digite o salário pedido"
        currencyMask
        [options]="{
          prefix: 'R$ ',
          thousands: '.',
          decimal: ',',
          allowNegative: false,
          precision: 0,
          align: 'right'
        }"
      />
    </div>


    <!-- Botão -->
    <div class="form-actions">
      <button
        type="button"
        class="submit-button"
        [disabled]="!form.valid"
        (click)="enviarAnalise()">
        Enviar para análise
      </button>
    </div>
  </form>
</div>
